html,
body {
  margin: 0;
  padding: 0;
  font: 16px "Roboto", sans-serif;
  background: #4d2bac; }

* {
  box-sizing: border-box; }

.form-wrapper {
  width: 100%;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center; }

.contact-form {
  width: 100%;
  max-width: 460px;
  padding: 60px;
  background: #1c1e21;
  border-radius: 10px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3); }
  .contact-form__title {
    text-transform: uppercase;
    line-height: 1.5;
    text-align: center;
    color: #fff1c6;
    font-size: 16px;
    margin: 0 0 30px; }
  .contact-form__message {
    text-align: center; }
    .contact-form__input_phone:focus {
      transition: 0.3s;
      border: 1px solid rgba(255, 241, 198, 0.2); }
  .contact-form__input_file {
    display: none; }
  
      .social-icons-1 {
        padding: 0;
        list-style: none;
        margin: 10px;
        text-align: center;
    }
    .social-icons-1 li {
        display: inline-block;
        position: relative;
        font-size: 24px;
    }
    .social-icons-1 i,
    .social-icons-1 img {
        color: #fff;
        position: absolute;
        top: 18px;
        left: 18px;
        width: 24px;
        height: 24px;
        text-align:center;
        transition: all 0.3s ease-out;
    }
    .social-icons-1 a {
        display: inline-block;
    }
    .social-icons-1 a:before {
        transform: scale(1);
        content: "";
        width: 60px;
        height: 60px;
        border-radius: 100%;
        display: block;
        background: linear-gradient(45deg, #337AB7, #2d6b9f);
        box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 2px 4px rgba(0,0,0,0.2);
        transition: all 0.3s ease-out;
    }
    .social-icons-1 a:hover:before {
        transform: scale(0);
        transition: all 0.3s ease-in;
    }
    .social-icons-1 a:hover i,
    .social-icons-1 a:hover img {
        transform: scale(1.8);
        color: #337AB7;
        transition: all 0.3s ease-in;
    }


.preloader {
  position: relative;
  margin: 0 0 0 45%;
  height: 15px;
  visibility: hidden;
  opacity: 0;
  display: none;
  transition: 0.3s; }
  .preloader_active {
    display: block;
    visibility: visible;
    opacity: 1;
    transition: 0.3s; }
  .preloader:before {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    content: "";
    position: absolute;
    background: #393e46;
    animation: preloader_before 1.8s infinite cubic-bezier(0.4, 0, 0.2, 1); }
  .preloader:after {
    width: 12px;
    height: 12px;
    left: 15%;
    border-radius: 50%;
    content: "";
    position: absolute;
    background: #5f646c;
    animation: preloader_after 1.8s infinite cubic-bezier(0.4, 0, 0.2, 1); }

@keyframes preloader_before {
  0% {
    transform: translateX(0px) rotate(0deg); }
  50% {
    transform: translateX(160px) scale(1.5) rotate(264deg);
    background: #00adb5;
    border-radius: 0; }
  100% {
    transform: translateX(0px) rotate(0deg); } }
@keyframes preloader_after {
  0% {
    transform: translateX(0px) rotate(0deg); }
  50% {
    transform: translateX(-160px) scale(1.5) rotate(-264deg);
    background: #00fff5;
    border-radius: 0; }
  100% {
    transform: translateX(0px); } }
@media (max-width: 768px) {
  .form-wrapper {
    padding: 15px; } }
@media (max-width: 480px) {
  .contact-form {
    padding: 30px 15px; }
    .contact-form__title {
      font-size: 16px; } }


